@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Love+Ya+Like+A+Sister');
@import 'input.css';
@import 'CardGrid.css';
@import 'card.css'

body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  background: #0E54B6;
  margin-top: 0;
  height: 100px;
  font-size: 4em;
  text-align: center;
  padding-top: 25px;
  color: #18912B;
}

#bookbag {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#bus {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}
